/* components/page.module.css */

.page-container {
    display: flex;
    min-height: calc(100vh - 120px);
    /* header + footer approx */
}

.exam-info {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}